@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.content{
    padding: 1rem;
} 
.content h1{
    margin: 0; 
}

ol.pokemons{ /* ordered list */
    display: grid; /* grid layout */
    grid-template-columns: 1fr 1fr;/* 2 columns */
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #14a06f;
    color: #fff;    
}

ol.pokemons li img{
    align-self: flex-end;
    max-width: 60%;
    height: auto;
    border-radius: 1rem;
}